<header class="header desktop-navigation">
  <div class="header-nav">
    <ul class="nav">
      <li class="nav-link logo">
        <div class="round-bg"></div>
        <a href="javascript:void(0)">Storename</a>
      </li>
      <li class="nav-link"><a class="active" href="javascript:void(0)">Product <span><img src="./assets/image/down.png" alt=""></span></a></li>
      <li class="nav-link"><a href="javascript:void(0)">Price</a></li>
    </ul>
  </div>
  <div class="btn-nav">Sign in</div>
</header>

<!--mobile-navigation-->
<header class="header mobile-navigation">
  <div class="header-nav">
    <ul class="nav">
      <li class="nav-link logo">
        <div class="round-bg"></div>
        <a href="javascript:void(0)">Storename</a>
      </li>
    </ul>
  </div>
  <div class="toggleMenu" (click)="toggleMenu()">&#43058;</div>
  <div class="menu">
    <div class="toggleMenu closeMenu"  (click)="toggleMenu()">&times;</div>
    <ul class="menu-wrapper">
      <li class="menu-item">
        <a class="active" href="javascript:void(0)">Product <span><img src="./assets/image/down.png" alt=""></span></a>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0)">Price</a>
      </li>
      <li class="menu-item">
        <div class="btn-nav-phn">Sign in</div>
      </li>
    </ul>
  </div>
</header>
